# Assignment 15 - Feb 16' 23 - MySQL

### 1. What is a database? Differentiate between SQL and NoSQL databases.

#### WHAT?
* A database is a collection of data that is organized, which is also called structured data. It can be accessed or stored in a computer system. It can be managed through a Database Management System (DBMS), a software used to manage data. Database refers to related data in a structured form. 
* In a database, data is organized into tables consisting of rows and columns and it is indexed so data can be updated, expanded, and deleted easily. Computer databases typically contain file records data like transactions money in one bank account to another bank account, sales and customer details, fee details of students, and product details. There are different kinds of databases, ranging from the most prevalent approach, the relational database, to a distributed database, cloud database, and NoSQL databases. 

#### Difference between SQL and NoSQL (Not only SQL)

| Parameter | SQL | NoSQL |
|-|-|-|
|**Type**|Relational Database Management System (RDBMS)|Non-relational or distributed database system|
|**Language**|These databases have fixed or static or predefined schema|They have dynamic schema|
|**data storage**|These databases are not suited for hierarchical data storage|These databases are best suited for hierarchical data storage|
|**complex queries**|These databases are best suited for complex queries|These databases are not so good for complex queries|
|**Scalability**|Vertically Scalable i.e increase the load on a single server by increasing things like RAM, CPU or SSD|Horizontally scalable i.e This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.|
|**Property followed**|Follows ACID property i.e. Atomicity, Consistency, Isolation and Durability|Follows CAP(consistency, availability, partition tolerance)|
|**Examples**|MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.|MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.|

### 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL. In short, DDL deals with defining the database schemas and descriptions, of how the data should reside in the database.
* It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. 
* DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.
* List of DDL commands : 

> * *CREATE* : This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
> * *DROP* : This command is used to delete objects from the database.
> * *ALTER* : This is used to alter the structure of the database.
> * *TRUNCATE* : This is used to remove all records from a table, including all spaces allocated for the records are removed.
> * *COMMENT* : This is used to add comments to the data dictionary.
> * *RENAME* : This is used to rename an object existing in the database.

* Example of CREATE command - table for storing Student information of a particular College.
> CREATE TABLE Student_info </br>
( </br>
College_Id number(2), </br>
College_name varchar(30), </br>
Branch varchar(10) </br>
);</br>

* Example of ALTER command - to add a new column for CGPA.
> ALTER TABLE Student_info </br>
ADD CGPA number;

* Example of TRUNCATE command - to remove the details of all students for new batches but wants to keep the same table structure
> TRUNCATE TABLE Student_info;

* Example of DROP command - remove an Student_info table along with its structure from the Database.
> DROP TABLE Student_info;

### 3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

* The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.
* List of DML commands: 
> * *INSERT* : It is used to insert data into a table.
> * *UPDATE* : It is used to update existing data within a table.
> * *DELETE* : It is used to delete records from a database table.
> * *LOCK* : Table control concurrency.
> * *CALL* : Call a PL/SQL or JAVA subprogram.
> * *EXPLAIN PLAN* : It describes the access path to data.

* Example of INSERT command - inserting Student information in Student_info table.
> INSERT INTO Student_info (College_Id, College_name, Branch varchar) </br>
VALUES ('ABC456', 'PW Skills College', 'Data Science Masters');

* Example of UPDATE command - Updating the column College_ID and set the value to 'PWS001' in all the rows where College_name is 'PW skills College'.
> UPDATE Student_info SET College_ID = 'PWS001' </br>
WHERE College_name = 'PW skills College';

* Example of DELETE command - Delete the rows where College_ID = 'PWS001'.
> DELETE FROM Student_info WHERE College_ID = 'PWS001';

### 4. What is DQL? Explain SELECT with an example.

* DQL statements are used for performing queries on the data within schema objects. 
* The purpose of the DQL Command is to get some schema relation based on the query passed to it. 
* We can define DQL as follows 
> it is a component of SQL statement that allows getting data from the database and imposing order upon it. 
* It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.
* List of DQL: 
> * *SELECT* : It is used to retrieve data from the database.

</br>
</br>

* Example of SELECT command - To fetch the entire table or all the fields in the table
> SELECT * FROM Student_info;
* Example of SELECT command - to fetch the fields College_ID, Branch from the table Student_info
> SELECT College_ID, Branch FROM Student;

### 5. Explain Primary Key and Foreign Key

<center><img src="https://media.geeksforgeeks.org/wp-content/uploads/20221028180613/1-300x143.png"></center>

#### Primary Key :
* A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
* Example: Refer the figure – 
> STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys).

#### Foreign Key :
* A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 
* Example: Refer the figure – 
> STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation. 

#### Difference :
| Sr. No. | Primary Key | Foreign Key |
|-|-|-|
|**1**|A primary key is used to ensure data in the specific column is unique.|A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.|
|**2**|It uniquely identifies a record in the relational database table.|It refers to the field in a table which is the primary key of another table.|
|**3**|Only one primary key is allowed in a table.|Whereas more than one foreign key are allowed in a table.|
|**4**|It is a combination of UNIQUE and Not Null constraints.|It can contain duplicate values and a table in a relational database.|
|**5**|It does not allow NULL values.|It can also contain NULL values.|
|**6**|Its value cannot be deleted from the parent table.|Its value can be deleted from the child table.|
|**7**|It constraint can be implicitly defined on the temporary tables.|It constraint cannot be defined on the local or global temporary tables.|

### 6.  Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# code to connect MySQL to python

!pip install mysql-connector

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

#### cursor() 
* Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables. 
* The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.
* Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.
* You can create Cursor object using the cursor() method of the Connection object/class.
> * Example : mycursor = mydb.cursor()

#### execute() method
* execute() is one of the method provided by the Cursor class/object.
* This method accepts a MySQL query as a parameter and executes the given query.
> * Example : mycursor.execute("SELECT * FROM Student_info")

### 7. Give the order of execution of SQL clauses in an SQL query.

* Knowing the order in which an SQL query is executed can help us a great deal in optimizing our queries. This is especially true with large and complex queries where knowing the order of execution can save us from unwanted results, and help us create queries that execute faster improving spped and performance.
* A query engine understands and execute your query in the following order of clauses:
> 1. FROM
> 2. JOIN / LEFT JOIN / RIGHT JOIN / FULL OUTER JOIN
> 3. ON
> 4. WHERE
> 5. GROUP BY
> 6. HAVING
> 7. SELECT
> 8. ORDER BY
> 9. LIMIT / OFFSET
* **NOTE** - *that the actual physical execution of an SQL statement is determined by the database's query processor and the order of execution can vary in different DBMS.*